asgiref==3.9.1
Django==5.2.5
django-environ
dj-database-url
dj-static
gunicorn
psycopg2-binary
python-dateutil==2.9.0.post0
python-decouple
python-dotenv==1.1.1
pytz==2025.2
sqlparse==0.5.3
tzdata==2025.2
uvicorn
whitenoise==6.11.0